@use '../shared/base';

.header-container {
  position: sticky;
  top: 0px;
  border-bottom: base.$stroke 2px solid;
  width: 100%;
  padding: 0;
  z-index: 9;

  .leniolabs {
    @include base.propertyCalcPlus('left', 1%, 50px);
    position: absolute;
    top: 5px;
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    //background-color: base.$background-light;
  }
  .congress {
    display: block;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
  }
}
